@import './colors.scss';
@import './mixins.scss';
.modal-design-detail {
    @include modal-common;
    padding: 11rem 11rem;
    display: flex;
    .right-col{
        margin-left: 10rem;
        flex-grow: 1;
        img {
            width: 100%;
            height: 70rem;
            object-fit: fill;
        }
        .nav-and-action {
            margin-top: 1.5rem;
            position: relative;
            text-align: center;
            .actions {
                position: absolute;
                right: 0;
                top: 0;
                width: 10rem;
                display: flex;
                flex-direction: row;
                button {
                    margin-left: 1rem;
                    $button-size: 4rem;
                    $icon-size: 2.5rem;
                    border-radius: calc($button-size/2);
                    height: $button-size;
                    width: $button-size;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .anticon {
                        font-size: $icon-size;
                    }
                    @include button-common;
                    background-color: $white-1;
                }
            }
        }
    }
    .left-col{
        display: flex;
        flex-direction: column;
        .comment-danmaku {
            height: 13rem;
            width: 30rem;
            overflow: hidden;
            border: 1px red solid;
            margin-bottom: 0.8rem;
            flex-shrink: 0;
        }
        .show-more {
            color: $black-2;
        }
        img {
            margin-top: 0.8rem;
            margin-bottom: 1.6rem;
            object-fit: contain;
            height: 54rem;
        }
        .comment-group{
            display: flex;
            flex-direction: row;
            .ant-input-textarea {
                width: 31rem;
                height: 3rem;
                textarea{
                    white-space: nowrap;
                    resize: none;
                    overflow:hidden;
                    ::-webkit-scrollbar{
                        display: none;
                    }
                }
                margin-right: 1rem;
            }
            button {
                $button-size: 4rem;
                $icon-size: 2.5rem;
                border-radius: calc($button-size/2);
                height: $button-size;
                width: $button-size;
                display: flex;
                align-items: center;
                justify-content: center;
                .anticon {
                    font-size: $icon-size;
                }
                @include button-common;
                background-color: $white-1;
            }
        }
    }
    .back-button {
        position: absolute;
        left: 4rem;
        bottom: 4rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2px;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include button-common;
    }
}

.skin-modal {
    padding: 17rem 16rem;
    display: flex;
    .panel {
        flex-grow: 1;
        margin-left: 7rem;
        border-radius: 8px;
        height: 74rem;
        width: 97rem;
        background-color: $white-2;
        padding: 4rem 6rem;
        display: flex;
        flex-direction: column;
        .panel-head {
            display: flex;
            justify-content: space-between;
            font-size: 26px;
            margin-bottom: 7rem;
        }
        .save-button {
            width: 21rem;
            margin-left: 7rem;
            height: 3rem;
            background-color: $main-color-3;
            color: white;
            border: 0;
            border-radius: 2px;
        }
        .skin-item {
            margin-bottom: 3rem;
            height: 21rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .anticon {
                font-size: 3rem;
                color: $black-3;
                margin: 0 2rem;
            }
            .thumb {
                height: 21rem;
                width: 21rem;
                background-color: $white-2;
                border-radius: 2px;
            }
            .detail {
                display: flex;
                flex-direction: column;
                height: 100%;
                h2 {
                    color: $black-2;
                    margin-bottom: 4rem;
                }
            }
        }
    }
    @include modal-common;
}