@import './colors.scss';
@import './mixins.scss';
.top-button-group {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex inline-block;
    align-items: center;
}
.menu-group {
    position: absolute;
    top: 20px;
    left: 40px;
    .menu {
        width: 24rem;
        margin-top: 1rem;
    }
    .ant-menu {
        background-color: $white-2;
    }
}
.skin-button {
    margin: 0 16px;
}
.favor-button,.menu-button,.skin-button {
    $button-size: 40px;
    $icon-size: 22px;
    border-radius: 2px;
    height: $button-size;
    width: $button-size;
    .anticon {
        font-size: $icon-size;
    }
    @include button-common;
}
.user-button {
    $button-size: 48px;
    $icon-size: 24px;
    border-radius: calc($button-size/2);
    height: $button-size;
    width: $button-size;
    padding: 0;
    border: 0;
}

.user-tooltip {
    .ant-tooltip-content {
        .ant-tooltip-arrow .ant-tooltip-arrow-content{
            --antd-arrow-background-color: #{$white-2};
        }
        .ant-tooltip-inner {
            background-color: $white-2;
            padding: 0;
        }
    }
}
.user-tooltip-content {
    width: 175px;
    h2 { //header
        height: 38px;
        border-bottom: 1px #F0F0F0 solid;
        padding: 5px 16px;
        margin: 0;
        color: $black-1;
    }
    div { //body
        height: 68px;
        padding: 12px 16px;
        a {
            display: block;
            color: $main-color-3;
            &:hover {
                color: $main-color-4;
            }
        }
    }
}

.bgm-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
}